---
title: Home
layout: base.njk
css: movie
description: 
---

<div class="list-container">
    <div class="nav"><a href="/" class="cursor-scale">Home</a></div>
    <div class="list">
        {% for movie in movies %}
        <div>
            <p>{{ movie.title }} [{{ movie.userRating }}]</p>
            <a href="/movies/{{ movie.movieId }}" class="cursor-scale">See</a>
        </div>
        {% endfor %}
    </div>
</div>